<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Sent | SSO</title>
  <link th:href="@{/main.css}" rel="stylesheet" />
</head>

<body class="bg-gradient-to-b from-blue-500 to-blue-400 flex items-center justify-center h-screen">
  <div class="bg-white shadow-lg rounded-lg p-8 w-96">
    <h2 class="text-2xl font-bold text-center text-gray-800 mb-6">Thanks for signing up</h2>
    <p>A verification link has been sent to your email. Please check your inbox and click the link to verify your email.</p>
  </div>
</body>

</html>
