<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Verify Email | SSO</title>
  <link th:href="@{/main.css}" rel="stylesheet" />
</head>

<body class="bg-gradient-to-b from-blue-500 to-blue-400 flex items-center justify-center h-screen">
  <div class="bg-white shadow-lg rounded-lg p-8 w-96">
    <!-- SUCCESS -->
    <div th:if="${result == 'SUCCESS'} or ${result == 'ALREADY_VERIFIED'}">
      <h2 class="text-2xl font-bold text-center text-gray-800 mb-6">Verification successful</h2>
      <p>You have successfully verified your email. You can now sign in to your account. <a href="/signin" class="text-blue-500 hover:underline">Sign in</a></p>
    </div>

    <!-- USER_NOT_FOUND -->
    <div th:if="${result == 'USER_NOT_FOUND'}">
      <h2 class="text-2xl font-bold text-center text-gray-800 mb-6">Verification failed</h2>
      <p>Invalid verification token. Please sign up first. <a href="/signup" class="text-blue-500 hover:underline">Sign up</a></p>
    </div>

    <!-- EXPIRED_TOKEN -->
    <div th:if="${result == 'TOKEN_EXPIRED'}">
      <h2 class="text-2xl font-bold text-center text-gray-800 mb-6">Verification failed</h2>
      <p>Verification token has expired. Please sign up again. <a href="/signup" class="text-blue-500 hover:underline">Sign up</a></p>
    </div>

    <!-- INVALID_TOKEN -->
    <div th:if="${result == 'INVALID_TOKEN'}">
      <h2 class="text-2xl font-bold text-center text-gray-800 mb-6">Verification failed</h2>
      <p>Invalid verification token. Please try again.</p>
    </div>
  </div>
</body>

</html>
